{
  "presets": [
    "react",
    "react-native"
  ],
  "plugins": [
    "transform-react-require",
    "transform-flow-strip-types",
    "transform-class-properties",
    "syntax-dynamic-import",
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }],
    ["lodash", { "id": ["recompose", "ramda"] }],
    "import-glob"
  ],
  "env": {
    "node": {
      "presets": [
      ]
    },
    "browser": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "safari >= 7"]
          }
        }]
      ]
    }
  }
}
