{
  "presets": [
    "react",
    "react-native",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    "transform-react-require",
    "transform-flow-strip-types",
    "transform-class-properties",
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }],
    ["lodash", { "id": ["recompose", "ramda"] }]
  ]
}
